<div class="relative flex flex-col justify-between flex-shrink-0 w-full min-w-0 min-h-screen h-screen overflow-y-auto">

	<header class="sticky top-0 z-50 flex flex-shrink-0 items-center w-full h-20 px-4 md:px-6 z-49 shadow bg-white">
		Valoran Tournament
    </header>

	<!-- Content -->
    <main class="flex-auto flex flex-col">
        <router-outlet></router-outlet>
    </main>

    <footer class="relative flex flex-shrink-0 items-center justify-center w-full h-14 px-4 md:px-6 border-t bg-white">
        <p class="font-medium">
			Felipe Basso &copy; 2023
		</p>
    </footer>

</div>
